html{
    font-size: 16px;
}
@media only screen and (min-width: 320px) and (max-width: 374px) {
    html {
        font-size: 16px !important;
    }
}
@media only screen and (min-width: 375px) and (max-width: 413px) {
    html {
        font-size: 18.75px !important;
    }
}
@media only screen and (min-width: 414px) and (max-width: 767px) {
    html {
        font-size: 20.7px !important;
    }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
    html {
        font-size: 38.4px !important;
    }
}
@media only screen and (min-width: 1024px) and (max-width: 1241px) {
    html {
        font-size: 51.2px !important;
    }
}

body,html{
    height: 100%;
    // touch-action: none;//当你触摸并按住触摸目标时候，禁止系统默认菜单
}
a{color:#666666;}
#container{
    height: 100%;
    .page{
        height: 100%;
        display: flex;
        flex-direction:column;
        .main{
            flex:1;
            overflow-x:hidden;
        }
        .carousel{
            .mint-swipe>.mint-swipe-indicators>.mint-swipe-indicator{
                opacity:1;
                background:#fff;
            }
            .mint-swipe>.mint-swipe-indicators>.is-active{
                background:#b0352f;
            }
        }
    }
}

// 首页小标题
.home-title{
    height: 40px;
    text-align:center;
    span{
        position:relative;
        font-size:14px;
        line-height:40px;
        font-weight:bolder;
    }
    span::before,span::after{
        content: "";
        position: absolute;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        display: block;
        background: #d4c0a7;
        top: 50%;
        margin-top: -4px;
    }
    span::before{
        left:-15px;
    }
    span::after{
        right:-15px;
    }
}

// 顶部导航栏
.homeTabs{
    height: 42px;
    position:fixed;
    top:50px;
    left:0;
    width:100%;
    z-index:10;
    background:#fff;
    .horizontal-scroll-list-wrap{
        .cube-scroll-content{
            display: inline-block;
            .cube-scroll-list-wrapper{
                .list-wrapper{
                    line-height: 40px;
                    white-space: nowrap;}
                .list-item{
                    height: 40px;
                    display: inline-block;
                    margin-left:15px;
                    a{
                        display: block;
                        padding:0 8px;
                        color:#222;
                        font-size:16px;
                    }
                    .active{
                        color:#b0352f;
                        border-bottom:3px solid #b0352f;
                    }
                }
            }
        }
        
    }
}