.carousel{
    .mint-swipe>.mint-swipe-indicators>.mint-swipe-indicator{
        opacity:1;
        background:#fff;
    }
    .mint-swipe>.mint-swipe-indicators>.is-active{
        background:#b0352f;
    }
}