.homeTabs{
    position:fixed;
    top:50px;
    left:0;
    width:100%;
    .horizontal-scroll-list-wrap{
        .cube-scroll-content{
            display: inline-block;
            .cube-scroll-list-wrapper{
                .list-wrapper{
                    line-height: 40px;
                    white-space: nowrap;}
                .list-item{
                    height: 40px;
                    display: inline-block;
                    margin-left:15px;
                    a{
                        display: block;
                        padding:0 8px;
                        color:#222;
                        font-size:16px;
                    }
                    .active{
                        color:#b0352f;
                        border-bottom:3px solid #b0352f;
                    }
                }
            }
        }
        
    }

}